* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(13, 13, 13, 0);
    color: #f0f0f0;
}

tooltip {
    background: #1a1a1a;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #0d0d0d;
}

#workspaces button {
    padding: 5px;
    color: #666666;
    margin-right: 5px;
}

#workspaces button.active {
    color: #ff3333;
}

#workspaces button.focused {
    color: #f0f0f0;
    background: #cc0000;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #f0f0f0;
    background: #cc0000;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #0d0d0d;
    color: #ff3333;
    border-radius: 10px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    background: #1a1a1a;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #0d0d0d;
}

#temperature {
    border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
    color: #ff3333;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1a1a1a;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #ff3333;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #ff3333;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    border-right: 0px;
}

#network {
    color: #f0f0f0;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #f0f0f0;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
} 

#pulseaudio {
    color: #f0f0f0;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #f0f0f0;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: #ff3333;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}